# Copier vers .env.local pour npm run dev

NEXT_PUBLIC_SITE_URL=https://gestion-manager.vercel.app
NEXT_PUBLIC_WHATSAPP_BOT_URL=http://us2.bot-hosting.net:20042

NEXT_PUBLIC_SUPABASE_URL=https://ulxtbvxdueolvnjhpzvw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

SITE_API_SECRET=
SESSION_SECRET=

SUPER_ADMIN_EMAIL=angoularaphael05@gmail.com
SUPER_ADMIN_PASSWORD="#Fareno12"

NEXT_PUBLIC_RECEPTION_EMAIL=farenogig05@gmail.com
